<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="database" value="MySql" />
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertOnDuplicateKey" value="true" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.sinsoled.myblog.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/myblog/src/main/java" />
        <option name="javaModelPackage" value="com.sinsoled.myblog.model" />
        <option name="javaModelPath" value="$PROJECT_DIR$/myblog/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="myblog" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="myblog">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.sinsoled.myblog.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/myblog/src/main/java" />
                  <option name="javaModelPacakge" value="com.sinsoled.myblog.model" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/myblog/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.sinsoled.myblog.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/myblog/src/main/java" />
                  <option name="javaServicePackage" value="com.sinsoled.myblog.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/myblog/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/myblog/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="i-blog:base_permission">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="BasePermission" />
                  <option name="moduleName" value="myblog" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateBatch" value="true" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="i-blog:base_role">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="BaseRole" />
                  <option name="moduleName" value="myblog" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="i-blog:base_role_permission">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="BaseRolePermission" />
                  <option name="moduleName" value="myblog" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="i-blog:base_user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="BaseUser" />
                  <option name="moduleName" value="myblog" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="i-blog:base_user_role">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="BaseUserRole" />
                  <option name="moduleName" value="myblog" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="updateBatchSelective" value="true" />
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="useActualColumnNames" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/myblog/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>